* {
  box-sizing: border-box;
}

.columns-header {
  padding: 8px;
  background-color: #111;
  color: white;
  font-size: 25px;
}

.total {
  background-color: black;
  color: white;
}

.columns {
  float: left;
  width: 10%;
  padding: 8px;
}

.columns2 {
  float: left;
  width: 15%;
  padding: 8px;
}

.header-effect {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-effect:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.header-effect .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.header-effect li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.header-effect .grey {
  background-color: #eee;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .header-effect .header {
    font-size: 15px;
  }
}

@media only screen and (max-width: 990px) {
  .header-effect .header {
    font-size: 12px;
  }
}